<h2 mat-dialog-title>Comment</h2>

<mat-dialog-content [formGroup]="commentForm">

  <mat-form-field appearance="fill">
    <textarea matInput placeholder="leave your comment" formControlName="body"></textarea>
    <mat-error *ngIf="commentForm.get('body')?.touched && commentForm.get('body')?.hasError('maxlength')">
      Comment can not exceed 200 characters
    </mat-error>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSendClick()" [disabled]="!commentForm.valid">Send</button>
</mat-dialog-actions>
