<mat-card *ngIf="routerCase1" class="post-card">
  <mat-card-header>
    <img mat-card-avatar class="profile-image" src={{post.postedBy.profileImgURL}} alt="Profile Photo"
      [routerLink]="'/u/'+post.postedBy._id">
    <mat-card-title>
      {{post.postedBy.username}}
    </mat-card-title>
    <mat-card-subtitle>
      {{ timePassed }}
    </mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">
    <img mat-card-image [src]="post.imgURL[0]" alt="Content Photo" [routerLink]="['/post/detail/',post._id]">
  </div>
  <mat-card-content class="post-card-content" [routerLink]="'/post/detail/'+post._id">
    <p>{{post.title}} </p>
  </mat-card-content>

  <mat-card-actions class="action-button-bar">

    <app-action-bar [postID]="postID">

    </app-action-bar>

  </mat-card-actions>

</mat-card>

<!-- route '/profile/likes' -->

<mat-card *ngIf="routerCase2" class="post-card">
  <mat-card-header>
    <img mat-card-avatar class="profile-image" src={{likepost.postID?.postedBy.profileImgURL}} alt="Profile Photo"
      [routerLink]="'/u/'+likepost.postID.postedBy._id">

    <mat-card-title>
      {{likepost.postID?.postedBy.username}}
    </mat-card-title>
    <mat-card-subtitle>
      {{ likepost.postID?.updatedAt | date }}
    </mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">
    <img mat-card-image [src]="likepost.postID?.imgURL[0]" alt="Content Photo" [routerLink]="'/post/detail/'+postID">
  </div>

  <mat-card-content class="post-card-content" [routerLink]="'/post/detail/'+postID">
    <p>{{likepost.postID?.title}} </p>
  </mat-card-content>

  <mat-card-actions class="action-button-bar">
    <app-action-bar [postID]="postID">

    </app-action-bar>

  </mat-card-actions>
</mat-card>
<!--comment box-->
<!-- <div *ngIf="show" class="comment-container">
    <form class="add-comment-form">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>comment</mat-label>
        <input matInput placeholder="leave your comment" value="">
      </mat-form-field>
    </form>

    <div *ngFor="let comment of comments">
      <div class="comment">
        <div class="comment-image-container">
          <img src={{comment.postedBy.profileImgURL}} />
        </div>
        <div class="comment-right-part">
          <div class="comment-content">
            <div class="comment-author">{{ comment.postedBy.username }}</div>
            <div>{{ comment.createdAt }}</div>
          </div>
          <div class="comment-text">{{ comment.body }}</div>
        </div>
      </div>
    </div>
  </div> -->
