<mat-card class="back-nav-bar">
  <i class="back-btn material-icons-outlined" title="Back" (click)="back()" routerLinkActive="active">arrow_back</i>
</mat-card>
<!-- <app-post-card></app-post-card> -->
<mat-card class="post-card">
  <mat-card-header>
    <img mat-card-avatar class="profile-image" src={{post.postedBy?.profileImgURL}} alt="profile photo"
      [routerLink]="'/u/'+postAuthor?._id">
    <mat-card-title>
      {{post.postedBy?.username}}
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Block</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle>
      {{ timePassed }}
    </mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">
    <img mat-card-image *ngFor="let url of imgURL; let i = index" [src]="url" alt="Content Photo"
      [ngClass]="{'image-active': selectedIndex === i}">

    <i *ngIf="post.imgURL?.length>1" class="carousel-btn btn-left material-icons-outlined"
      (click)="onPrevClick()">chevron_left</i>
    <i *ngIf="post.imgURL?.length>1" class="carousel-btn btn-right material-icons-outlined"
      (click)="onNextClick()">chevron_right</i>

  </div>


  <mat-card-content class="post-card-content">
    <p class="post-title">{{post.title}}</p>
    <p class="post-content">{{post.content}}</p>
  </mat-card-content>
  <mat-card-actions class="action-button-row">
    <app-action-bar [postID]="postID"></app-action-bar>
  </mat-card-actions>

  <div class="comment-container">
    <app-comments [postID]="postID" [currentUserId]="loginUserID"></app-comments>
  </div>
</mat-card>
