mat-card {
  margin: auto;
  max-width: 860px;
  /* padding: 1rem 0 1rem 0; */
  border-radius: 0;
  border: 1px solid #f2f2f2;
}

mat-card.back-nav-bar {
  margin-top: 10px;
  position: sticky;
  top: 64px;
  z-index: 2;
  opacity: 0.7;
  box-shadow: none;
}

mat-card.post-card {
  box-shadow: none;
  border-top: none;
}
.back-btn {
  cursor: pointer;
}
.back-btn:hover {
  background: #f2f2f2;
  border-radius: 50%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
.image-container {
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
}
.image-container img {
  display: none;
}
.image-container img.image-active {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
}
.carousel-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  opacity: 0.8;
  cursor: pointer;
  /* background-color: #f2f2f2; */
}
.carousel-btn:hover {
  opacity: 1;
}
.btn-left {
  left: 0;
}
.btn-right {
  right: 0;
}
mat-card-content {
  text-align: left;
  padding-top: 1rem;
}
mat-card-content p {
  line-break: auto;
}
mat-card-actions {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.add-comment-form mat-form-field {
  display: block;
}
.comment {
  display: flex;
}
.comment-image-container {
  width: 20px;
  height: 20px;
}
.comment-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
