<div class="grid-container">

  <h1 *ngIf="showHeader" class="mat-h1">What's new</h1>

  <ngx-masonry *ngIf="routerCase1" [options]="masonryOpt" [ordered]="true">
    <div class="grid-sizer"></div>
    <div ngxMasonryItem class="masonry-item" *ngFor="let post of postList">
      <app-post-card [post]="post" [user]="user" [routerURL]="routerURL" [userID]="userID">
      </app-post-card>
    </div>
  </ngx-masonry>

  <ngx-masonry *ngIf="routerCase2" [options]="masonryOpt" [ordered]="true">
    <div class="grid-sizer"></div>
    <div ngxMasonryItem class="masonry-item" *ngFor="let likepost of likeList">
      <app-post-card [likepost]="likepost" [user]="user" [routerURL]="routerURL" [userID]="userID">
      </app-post-card>
    </div>
  </ngx-masonry>




</div>
