<div class="comment">
  <div class="comment-avatar-container">
    <img [src]="parentComment?.author.profileImgURL" />
  </div>
  <div class="comment-right-section">
    <div class="comment-info">
      <div class="comment-author">{{parentComment?.author?.username}}</div>
      <div class="comment-time">{{parentComment.createdAt | date:'short'}}</div>
    </div>
    <div class="comment-text">{{parentComment?.body}}</div>
    <div class="comment-actions">
      <div class="load-replies" *ngIf="parentComment.parentID===null" (click)="toggleReplies()">
        {{replyCount}}
      </div>
      <div *ngIf="canDelete" class="comment-action">
        <button mat-icon-button class="delete-btn" title="Delete">
          <mat-icon (click)="openDeleteDialog(parentComment._id)" class="material-icons-outlined">
            delete
          </mat-icon>
        </button>
      </div>
      <div class="comment-action">
        <button mat-icon-button class="reply-btn" title="Reply">
          <mat-icon (click)="openReplyDialog()" class="material-icons-outlined">
            chat_bubble_outlined
          </mat-icon>
        </button>
      </div>

    </div>
    <!-- <app-comment-dialog *ngIf="isReplying()"></app-comment-dialog> -->

    <div class="replies" *ngIf="childComments && show">
      <app-comment *ngFor="let childComment of childComments" [parentComment]="childComment"
        [parentID]="parentComment._id" [postID]="postID" [currentUserId]="currentUserId"
        (deleteComment)="deleteComment.emit($event)" (addComment)="addComment.emit($event)"></app-comment>
    </div>
  </div>
</div>
