<div class="action-button-container">

  <div class="flex-button" [ngClass]="isLiked? 'liked': 'unliked'">
    <button mat-icon-button class="like-btn" title="like">
      <mat-icon (click)="toggleLikeState()" class="material-icons-outlined">
        {{likeIcon}}
      </mat-icon>
    </button>
    <span *ngIf="likeCount>0">{{likeCount}}</span>
  </div>

  <div class="flex-button">
    <button mat-icon-button class="comment-btn" title="comment">
      <mat-icon class="material-icons-outlined" (click)="openDialog()">chat_bubble_outline</mat-icon>
    </button>
    <!-- <span *ngIf="commentCount>0">{{commentCount}}</span> -->
  </div>

  <div class="flex-button">
    <button mat-icon-button [ngClass]="isBookmarked? 'bookmarked': 'unbookmarked'" class="bookmark-btn"
      title="bookmark">
      <mat-icon (click)="toggleBookmarkState()" class="material-icons-outlined">
        {{bookmarkIcon}}
      </mat-icon>
    </button>
  </div>
</div>


<div *ngIf="show" class="comment-container">
  <app-comments [postID]="postID" [currentUserId]="userID"></app-comments>
</div>
