<div class="comments">

  <div class="comment-form-section" [formGroup]="commentForm">

    <div class="avatar-container">
      <img [src]="avatar">
    </div>
    <mat-form-field class="comment-box">
      <textarea #body matInput placeholder="leave your comment here" formControlName="body" maxlength="200"
        title="comment"></textarea>
    </mat-form-field>
  </div>
  <div class="send-button">
    <mat-hint>{{body.value.length}} / 200</mat-hint>
    <button mat-raised-button color="primary" [disabled]="!commentForm.valid"
      (click)="addComment({body:body.value,parentID:null,postID})">
      Send
    </button>
  </div>


  <!-- <app-comment-dialog>
  </app-comment-dialog> -->
  <div class="comments-container">
    <app-comment *ngFor="let parentComment of getParentComments()" [parentComment]="parentComment"
      [childComments]=" getChildComments(parentComment._id) " [currentUserId]="currentUserId" [postID]="postID"
      (addComment)="addComment($event)" (deleteComment)="deleteComment($event)">
    </app-comment>


  </div>
</div>
