<mat-card>
  <form class="setting-form" [formGroup]="settingForm" (ngSubmit)="onSubmit()">

    <!-- <mat-error>{{message}}</mat-error> -->
    <div class="image-container">

      <img class="profile-image" mat-card-avatar [src]="profileImg" alt="Profile Photo" (click)="filePicker.click()"
        title="change photo">

      <input type="file" #filePicker multiple="" accept="image/*" (change)="onChange($event)">
    </div>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>User Name</mat-label>
      <input #username matInput formControlName="username" [value]="user?.username" maxlength="50">
      <mat-hint>{{username.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [value]="user?.email">
    </mat-form-field>

    <!-- <mat-form-field class="full-width" appearance="fill">
      <mat-label>profile image</mat-label>
      <input matInput placeholder="">
    </mat-form-field> -->

    <button class="save-button" mat-raised-button color="primary">SAVE</button>
  </form>

</mat-card>
