.mat-card {
  margin: 20px auto;
  width: 450px;
}

.setting-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image-container {
  margin: 20px auto;
  text-align: center;
  display: table;
}
.image-container input {
  display: none;
}
.profile-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.full-width {
  width: 90%;
}

.mat-form-field {
  margin-bottom: 20px;
}
